<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="fr"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout"
	xmlns:sec		  ="http://www.thymeleaf.org/extras/spring-security5">
<head>
<meta charset="UTF8">
<title>Liste des films</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
			<h4 class="text-center" th:text="${cinema.nameCinema}"></h4>
				<div th:each="film:${listFilms}" class="card m-3 border-success"
					style="max-width: 540px;">
					<div class="row g-0">
						<div class="col-md-8">
							<div class="card-body">
								<h5 th:text="${film.title}" class="card-title"></h5>
								<p class="card-text" th:text="${film.director}" ><p>
								<p class="card-text" th:text="${film.duration}+ ' min'"></p>
								<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn btn-danger" th:href="@{/deleteFilm(idFilm=${film.idFilm}, page=${currentPage}, idCinema=${idCinema})}">Supprimer</a>
								<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" th:href="@{/editFilm(idFilm=${film.idFilm})}">Edit</a>
								<a class="btn btn-success" href="#">Séances</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${currentPage==status.index}?'active':''"
					th:each="page,status:${pages}"><a class="nav-link"
					th:href="@{/listFilms(page=${status.index}, idCinema=${idCinema})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>